<div class="container">
  <h1> Welcome, <%= current_user.first_name %>!</h1>

  <a href="/events/create">Create a new event</a>

  <h2>Your created events: </h2>
  <% if @created_events.any? %>

  <ol id="events">
    <% @created_events.each do |event| %>

      <li><%= event.name %>, @ <%= event.location %>, starts at: <%= format_date(event.starts_at) %>, ends at: <%= format_date(event.ends_at) %>

        <div class="buttons">
          <form class="edit" action="/events/edit" method="get">
            <input type="hidden" value=<%= event.id %> name="event_id">
            <button type="submit">Edit</button>
          </form>

          <form class="delete" action="/events/delete" method="post">
            <input type="hidden" value=<%= event.id %> name="event_id">
            <button type="submit">Delete</button>
          </form>
        </div>
      </li>
    <% end %>
  </ol>
  <% else %>
    <p>You have not created any events!</p>
  <% end %>

  <form id="create-event" action="/events/create/ajax" method="post">
    <h2>Create a new event</h2>
    <% if @error %>
      <p class="error"><%= @error %></p>
    <% end %>

    <input type="text" name="name" placeholder="Event name" required><br>
    <input type="text" name="location" placeholder="Location" required><br>
    Start Date: <input type="date" name="starts_at" required><br>
    End Date: <input type="date" name="ends_at" required><br>
    <button type="submit">Create</button>
  </form>


</div>
